@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Signika:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(58, 21, 21);
}
/* TITULO Y PARRAFO */

.principal{
    color: rgb(255, 255, 255);
    margin: 0px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
    background: center fixed url(../assets/auriculares.jpg);
    background-size: cover;
}

.titulo{
    font-family: 'Signika', sans-serif;
    font-size: 60px;
}

.parrafo-1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    padding-right: 466px;
    margin-bottom: 20px;
}

/* BARRA DE NAVEGACION */

div a{
    color: white;
    padding: 8px;
    margin: auto;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    background-color: black;
}

a:hover{
    background: rgb(247, 102, 102);
    color: #000;
}

.barra-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

/* MOTOR DE BUSQUEDA */

.busqueda{
    font-size: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.busqueda-1{
    width: 900px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 25px 0px 0px 25px;
    background-color: black;
    color: white;
}

.busqueda-2{
    position: relative;
    border-radius: 0px 25px 25px 0px;
    width: 150px;
    height:40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;

}

.busqueda-2:hover{
    background-color: rgb(247, 102, 102);
}


/* PUBLICACIONES */

.primer-producto{
    display: flex;
    flex-direction: column;
}

.mouse{
    margin: 35px 0px 0px 35px;
    height: 400px;
    width: 600px;
    border: 10px solid white;
}

.h2-index{
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    margin: 10px 0px 0px 38px;
}


.parrafo-2{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 200px 80px 38px;
    width: 600px;
}



/* segunda publicacion */


.segundo-producto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.teclado{
    margin: 35px 35px 0px 80px;
    height: 400px;
    width: 600px;
    border: 10px solid white;
}
.h3-index{
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    margin: 10px 38px 0px 80px;
}

.parrafo-3{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 38px 80px 80px;
    width: 600px;
}

/* tercera publicacion */

.tercer-producto{
    display: flex;
    flex-direction: column;
}

.computadora{
    margin: 0px 0px 0px 35px;
    height: 280px;
    width: 600px;
    border: 10px solid white;
}

.h4-index{
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    margin: 10px 0px 0px 38px;
}


.parrafo-4{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 200px 80px 38px;
    width: 600px;
}


/* cuarta publicacion */

.cuarto-producto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mouse-pad{
    margin: 35px 35px 0px 80px;
    height: 380px;
    width: 600px;
    border: 10px solid white;
}
.h5-index{
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    margin: 10px 38px 0px 80px;
}

.parrafo-5{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 38px 80px 80px;
    width: 600px;
}

/* PAGINA NOSOTROS */

.nosotros-1{
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        height: 40px;
        font-size: 25px;
        margin: 0px 500px 80px 38px;
        width: 600px;
}

.img-nosotros{
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border: 10px solid white;
}

.h1-nosotros{
    color: white;
    font-size: 40px;
    font-family: 'Signika', sans-serif;
}

/* SEGUNDA PUBLICACION */

.nosotros-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.img2-nosotros{
    margin: 360px 35px 0px 80px;
    height: 380px;
    width: 600px;
    border: 10px solid white;
}
.h2-nosotros{
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    margin: 10px 38px 0px 80px;
}

.parrafo2-nosotros{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 38px 80px 80px;
    width: 600px;
}

/* TERCERA PUBLICIDAD */

.nosotros-3{
    display: flex;
    flex-direction: column;
}

.img3-nosotros{
    margin: 0px 0px 0px 35px;
    height: 280px;
    width: 600px;
    border: 10px solid white;
}

.h3-nosotros{
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    margin: 10px 0px 0px 38px;
}


.parrafo3-nosotros{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 200px 80px 38px;
    width: 600px;
}

/* PAGINA CONTACTO */

.contacto-1{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 500px 80px 38px;
    width: 600px;
}


.h2-contacto{
color: white;
font-size: 40px;
font-family: 'Signika', sans-serif;
margin-bottom: 20px;
margin-top: 20PX;
}

/* PAGINA OFERTAS */

.ofertas-1{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    height: 40px;
    font-size: 25px;
    margin: 0px 500px 80px 38px;
    width: 600px;
}

.img-ofertas{
margin-top: 20px;
width: 600px;
height: 400px;
border: 10px solid white;
}

.h1-ofertas{
color: white;
font-size: 40px;
font-family: 'Signika', sans-serif;
}

/* SEGUNDA PUBLICACION */

.ofertas-2{
display: flex;
flex-direction: column;
align-items: flex-end;
}

.img2-ofertas{
margin: 460px 35px 0px 80px;
height: 380px;
width: 600px;
border: 10px solid white;
}

.h2-ofertas{
color: white;
font-family: 'Signika', sans-serif;
font-size: 30px;
margin: 10px 38px 0px 80px;
}

.parrafo2-ofertas{
color: white;
font-family: 'Barlow Condensed', sans-serif;
height: 40px;
font-size: 25px;
margin: 0px 38px 80px 80px;
width: 600px;
}

/* TERCERA PUBLICIDAD */

.ofertas-3{
display: flex;
flex-direction: column;
}

.img3-ofertas{
margin: 0px 0px 0px 35px;
height: 350px;
width: 600px;
border: 10px solid white;
}

.h3-ofertas{
color: white;
font-family: 'Signika', sans-serif;
font-size: 30px;
margin: 10px 0px 0px 38px;
}


.parrafo3-ofertas{
color: white;
font-family: 'Barlow Condensed', sans-serif;
height: 40px;
font-size: 25px;
margin: 0px 200px 80px 38px;
width: 600px;
}

/* mediaqueries */
@media (min-width:0px) and (max-width:320px){
    .parrafo-1{
        padding-right: 130px;
    }
    .h2-contacto{
        width: 320px;
    }
    .principal{
    width: 320px
    }
    .barra-nav{
       align-content: center;
    }
    iframe{
        width: 320px;
        height: 1650px;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .principal{
        width: 1024px;
    }
    iframe{
        width: 1024px
    }

}
